.header
  =render "devise/header"
.form
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .form__title 登録が完了しました
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  = link_to "トップへ戻る", root_path
.footer
  =render "devise/footer"