%ol{itemscope:true, itemtype: "https://schema.org/BreadcrumbList"}
  %li{itemscope: true, itemprop: "itemListElement", itemtype: "https://schema.org/ListItem"}
    %a{itemprop: "item", hrf: "/"}
      %span{itemprop: "name"} トップページ 
    %meta{itemprop: "position", content: "1"}
  
  %li{itemscope: true, itemprop: "itemListElement", itemtype: "https://schema.org/ListItem"}
  -#     itemtype="https://schema.org/ListItem">
  -#   <a itemprop="item" href="ホームのURL">
  -#       <span itemprop="name">ホーム</span>
  -#   </a>
  -#   <meta itemprop="position" content="1" />
  -# </li>

  -# <!-- 2つめ -->
  -# <li itemprop="itemListElement" itemscope
  -#     itemtype="https://schema.org/ListItem">
  -#   <a itemprop="item" href="カテゴリーのURL">
  -#       <span itemprop="name">カテゴリー名</span>
  -#   </a>
  -#   <meta itemprop="position" content="2" />
  -# </li>

  -# <!-- 3つめ -->
  -# <li itemprop="itemListElement" itemscope
  -#     itemtype="https://schema.org/ListItem">
  -#   <a itemprop="item" href="子カテゴリーのURL">
  -#       <span itemprop="name">子カテゴリー名</span>
  -#   </a>
  -#   <meta itemprop="position" content="3" />