.productList
  = link_to "#" do
    .productList__img
      =image_tag("pet_darui_dog.png")
      -# 商品の写真
    .productList__details
      %h3.name テスト
      -# 商品名
      .detail
        .detail__price
          %h4 4000
          -# 値段
          %p (税込)
        .detail__fav
          .detail__fav--icon
            = icon('fas', 'star')
          .detail__fav--num
            3
            -# お気に入り数