%h1 Items#index
%p Find me in app/views/items/index.html.erb

%form#charge-form{action: "/pay", method: "POST"}
  %span.charge-errors
  %h4 支払い
  %label カード番号
  %input.number{maxlength: "16", name: "number", placeholder: "カード番号", type: "text",id: "payment_card_no", value: 4242424242424242}/
  %label CVC
  %input.cvc{maxlength: "3", name: "cvc", placeholder: "CVC", type: "text",id: "payment_card_security_code", value: 123}/
  %label 有効期限
  %input.exp_month{maxlength: "2", name: "exp_month", placeholder: "月", type: "text",id: "payment_card_expire_mm", value: 12}/
  %input.exp_year{maxlength: "4", name: "exp_year", placeholder: "年", type: "text",id: "payment_card_expire_yy", value: 2022}/
  %button{type: "submit", id: "card-save"} 登録