= form_with local: true, url: card_index_path do |form|
  金額：#{form.text_field :amount}
  %script.payjp-button{"data-key" => "#{ENV["PAYJP_PUBLIC_KEY"]}", :src => "https://checkout.pay.jp", :type => "text/javascript"}