.header
  = render partial: "items/header"

.breadcrumbs
  - breadcrumb :card_show
  = breadcrumbs pretext: "",separator: " &rsaquo; "

.main
  = render partial: "items/show.html.haml"

.footer
  = render "devise/footer"
