-# .wrapper
-#   = render partial: "devise/header", locals: {product: "product"}
-# .product__body
-#   .product__confilm
-#     購入内容の確認
-#   .product__name
-#     = @product.product_name
-#   .product__image
-#     商品画像
-#     - @product.images.each do |image|
-#       = image_tag image.src.url
-#   .product__payment
-#     支払い金額
-#     = @product.price
-#   %br カード情報
-#   .product__payment__method
-#     支払い方法
-#   - #exp_month = @default_card_information.exp_month.to_s
-#   - #exp_year = @default_card_information.exp_year.to_s.slice(2,3)
-#   = #exp_month + " / " + exp_year
-#   .product__Shipping__address
-#     配送先 〒
-#     = @address.postal_code
-#     = @address.prefecture
-#     = @address.city
-#     = @address.house_number
-#     = @address.number_sign_etc
-#     = @user.family_name_kanji
-#     = @user.first_name_kanji
-#   = form_tag(buy_card_path) do
-#     %button 購入する
-#   -# = form_tag(done_path, action: :done  method: :get, id: 'charge-form',  name: "inputForm") do
-#   -#   %input{ type: "hidden", name: "card_id", value: "send" }
-#   -#   %button 購入する