a {
  text-decoration: none;
  color: #000;
}
* {
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
  input,select,textarea {
    display:block;
    color: red;
    border: 1px solid red;
  }
  ::placeholder {
    color: red;
  }
}