a {
  text-decoration: none;
}

.form-input{
  height: 40px;
  width: 300px;
}

.form-input-half{
  height: 40px;
  width: 145px;
}

.form-input-one-third{
  height: 40px;
  width: 97px;
}

.btn {
  width: 300px;
  background-color: #3CCACE;
  color: #fff;
  border: none;
  text-align: center;
}
ul {
  display: flex;
}


.form {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .form-input{
    height: 40px;
    width: 300px;
    margin-top: 10px;
  }
  
  .form-input-half{
    height: 40px;
    width: 145px;
  }
  
  .form-input-one-third{
    height: 40px;
    width: 97px;
  }
  .required {
    background-color: red;
    color: #fff;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
  }
  .new_user {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;
  }
  .new_address {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;
  }
  .form-item {
    padding-bottom: 20px;
  }
}

.other-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
