// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Products {
  background-color: #f8f8f8;
  .Products__main {
    padding: 40px;
    margin: 0 auto;
    .Products__main__content {
      width: 700px;
      margin: 0 auto;
      .Products__title {
        background-color: #fff;
        border-radius: 5px;
        .Products__title__box {
          border-radius: 5px 5px 0 0;
          padding: 16px 10px 8px;
          background-color: #3ccace;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 22px;
        }
      }
      .Products__list {
        margin: 30px 0;
        text-decoration: none;
        // float: left;
        .Products__listBox {
          display: flex;
          width: calc(100% / 3);
          margin: 0 0 10px;

          .ProductBox {
            text-decoration: none;
            display: inline-block;
            margin: 0 0 20px 0;
            position: relative;
            background-color: #fff;
            &__image {
              background-color: lightblue;
              width: 220px;
              height: 150px;
              overflow: hidden;
              margin: 0;
              z-index: auto;
            }
            &__body {
              background-color: white;
              color: #333;
              padding: 16px;
              .ProductName {
                background-color: rosybrown;
              }
              .Price {
                background-color: seashell;
              }
            }
          }
        }
      }
      }
    
  }
}
