.wrapper{
  width: 100%;
  height: 82px;
  background-color: rgb(245, 245, 245);
}
.product__All{
  // display:block;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  .product__Body{
    width: 600px;
    // height: 96%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    .header_title{
      font-size: 25px;
      padding: 10px;
      border-bottom: 1px solid gray;
      margin: 0 70px;
    }
    .product{
      display: flex;
      align-items: center;
      border-bottom: 1px solid gray;
      margin: 0 70px;
      .productName{
        margin: 30px 10px 60px 100px;
        padding: 20px 10px 0 30px;
        font-size: 15px;
      }
      .image{
        width: 100px;
        height: 80px;
        margin: 10% 0 0 20%;
      }
    }
    .product__Price{
      font-size: 20px;
      margin: 30px 70px;
      padding-bottom:20px;
      border-bottom: 1px solid gray;
    }
    .single-container{
      font-size: 25px;
      margin: 10px 40px 10px 70px;
      padding-top: 10px;
      .creditcard_section{
        font-size: 15px;
        .container{
          .creditcard-info{
            margin: 20px 30px 30px 30px;
            padding: 10px 0;
            border-bottom: 1px solid gray;
            &__delete{
              padding: 5px 120px;
              cursor: pointer;
              color: white;
              background-color: #aaa;
              border: 1px solid #aaa;
            }
            &__delete__show{
              padding: 5px 145px;
              cursor: pointer;
              color: white;
              background-color: #aaa;
            }
            &__buy{
              background-color: #3CCACE;
              padding: 5px 165px;
              cursor: pointer;
              color: white;
              border: 1px solid #3CCACE;
            }
          }
        }
      }
    }
    .product__Shipping_Address{
      font-size: 15px;
      padding: 10px 40px 30px 40px;
      margin-bottom: 10px;
      .address_postal_code{
        margin: 0 30px 10px 30px;
        padding: 0 10px 30px 0;
        border-bottom: 1px solid gray;
      }
    }
  }
}


.card-icon {
  margin: -10px 0 10px;
}
.form-input-limit {
  height: 40px;
  width: 125px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.creditcard-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px;
  .creditcard-info__pay-num {
    margin-bottom: 50px;
  }
}