.Products
  .Products__main
    .Products__main__content
      .Products__title
        .Products__title__box
          Tシャツ/カットソー(半袖/半袖なし)の商品一覧
      .Products__list
        .Products__listBox
          - @products.each do |product|
            .ProductBox
              .ProductBox__image
                -# = product.image
                -# = image_tag image.image.url, class: 'Product__image'
                .ProductBox__body
                  .ProductName
                    = product.product_name
                  .Price
                    = product.price

        .ProductBox__image__each
          -# - @images.each do |image|
          -# = image_tag image.image.url
