!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PayApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'

    -# チェックアウト 入力されたカード情報のトークン化に必要なフォーム
  %body
    %form{:action => "/pay", :method => "post"}
    %script.payjp-button{"data-key" => "pk_test_35f6203f9c0aa1345fd7c6f3", :src => "https://checkout.pay.jp/"}